<form (ngSubmit)="onSubmit()" #addPhraseForm="ngForm">
  <div class="form-group">
    <label for="englishPhrase">English</label>
    <input type="text" class="form-control" id="englishPhrase" required [(ngModel)]="phrase.englishPhrase"
      name="englishPhrase" #englishPhrase="ngModel">
    <div [hidden]="englishPhrase.valid || englishPhrase.pristine" class="alert alert-danger">
      English phrase is required
    </div>
  </div>

  <br/>

  <div class="form-group">
    <label for="frenchPhrase">French</label>
    <input type="text" class="form-control" id="frenchPhrase" required [(ngModel)]="phrase.frenchPhrase"
      name="frenchPhrase" #frenchPhrase="ngModel">
    <div [hidden]="frenchPhrase.valid || frenchPhrase.pristine" class="alert alert-danger">
      French phrase is required
    </div>
  </div>

  <br />

  <button id="submit-button" type="submit" class="btn btn-success"
    [disabled]="!addPhraseForm.form.valid">Submit</button>
</form>
